body, * {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1b1b1b;
} 

/* Begin Home pagina */

/* Bovenste helft Plaatje en text */

#colorOrange {
    color: rgb(180, 148, 3);
    font-size: 2rem;
}

.up .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem;
}

.up .row .column {
    width: 800px;
    height: 725px;
    margin-bottom: 5rem;
}

.up .row .column img,
.down .row .column img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

/* Onderste helft 3 plaatjes */

.down {
    margin: 0 0 10rem 0;
}

.down .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem;
}

.down .row .column {
    width: 500px;
    height: 500px;
    margin-bottom: 5rem;
    text-align: center;
}

.down .row .column img {
    margin-bottom: 1.5rem;
}

.down .row .column a {
    padding: .8rem 4rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #f5882d;
    border-radius: 2rem;
    border: 2px solid transparent;
    border-color: #f5882d;
}

.down .row .column a:hover {
    color: white;
    border-color: white;
    transition: .5s;
    cursor: pointer;
}


/* Responive maken */

@media only screen and (max-width: 1770px) {
    .up .row {
        flex-direction: column;
        align-items: center;
    }

    .down .row {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .up .row .column {
        width: 700px;
        height: 700px;
    }
}

@media only screen and (max-width: 700px) {
    .up .row .column {
        width: 600px;
        height: 600px;
    }

    .up .row {
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .up .row .column,
    .down .row .column {
        width: 500px;
        height: 500px;
    }

    .up .row {
        margin-bottom: 23rem;
    }
}

@media only screen and (max-width: 500px) {
    .up .row .column,
    .down .row .column {
        width: 400px;
        height: 400px;
    }

    .up .row {
        margin-bottom: 43rem;
    }
}

@media only screen and (max-width: 400px) {
    .up .row .column,
    .down .row .column {
        width: 300px;
        height: 300px;
    }

    .up .row {
        margin-bottom: 78em;
    }
}

@media only screen and (max-width: 300px) {
    .up .row .column,
    .down .row .column {
        width: 200px;
        height: 200px;
    }

    .up .row {
        margin-bottom: 133rem;
    }
}

/* Einde Home pagina */

/* Begin Kamers */

.info .text{
    margin-top: 2rem;
  }
  
  #second-img{
      margin-top: 2rem;
  }
  
  #kamer-titel{
      font-size: 3rem;
      color: white;
      text-align: center;
      margin-bottom: 2.5rem;
  }

/* Einde kamers */

/* Begin Score pagina */

@media screen and (min-width: 551px) {
    table {
        width: 70%;
        border-collapse: collapse;
        margin: 4rem auto;
    }
    
    td, th {
             text-align: left;
             padding: .7rem;
             text-align: center;
    }
    
    th {
             font-family: serif;
             font-size: 1.5rem;
             background-color: black;
             width: 10rem;
    }
    td {
             font-family: sans-serif;
             font-size: 1.1rem;
             background-color: rgb(20, 20, 20);
    }
    
    tr, th {
            color: rgb(180, 148, 3);
    }
    
    table tr:first-child th:first-child {
             border-top-left-radius: 2rem;
    }
    
    table tr:first-child th:last-child {
            border-top-right-radius: 2rem;
    }
    
    table tr:last-child td:last-child {
            border-bottom-right-radius: 2rem;
    }
    
    table tr:last-child td:first-child {
            border-bottom-left-radius: 2rem;
    }
}

    @media screen and (max-width: 550px) {
        table {
            display: none;
        }
    }

    .table_2 {
        display: none;
    }

    #score-title {
        display: none;
    }



    @media screen and (max-width: 550px) {
        #score-title {
            color: white;
            text-align: center;
            font-size: 3rem;
            display: block;
        }
    
        .table_2 {
            width: 90vw;
            margin: 4rem auto;
            padding: 1rem;
            border-radius: 1rem;
            background-color: black;
            display: flex;
        }
        
    
        th {
            background-color: black;
            color: rgb(180, 148, 3);
            text-align: right;
            font-size: 5.5vw;
            padding: 1rem;
        }
    
        td {
            background-color: rgb(20, 20, 20);
            color: rgb(180, 148, 3);
            font-size: 4.5vw;
            text-align: center;
            padding: 1rem;
            border-radius: .3rem;
        }

        @media screen and (max-width: 525px) {

        }
    }

    

/* ScoreFormulier */

    form {
        width: 30rem;
        background-color: black;
        margin: 0 auto;
        padding: 2rem 0;
        border-radius: 2rem;
    }

    form .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #score-formulier {
        color: rgb(180, 148, 3);
        margin-bottom: 2rem;
        text-align: center;
    }

    form .center label {
        color: rgb(180, 148, 3);
        font-size: 1.2rem;
        width: 20rem;
        display: flex;
        justify-content: flex-start;
    }

    form .center input {
        font-size: 1rem;
        width: 20rem;
        height: 2.5rem;
        margin-bottom: .2rem;
    }

    form .center #button_1 {
        width: 7rem;
        height: 2.5rem;
        background-color: black;
        color: rgb(180, 148, 3);
        border-radius: 2rem;
        border: 2px solid transparent;
        border-color: #f5882d;
    }

    form .center #button_1:hover {
        color: white;
        border-color: white;
        transition: .5s;
        cursor: pointer;
    }

    @media only screen and (max-width: 600px) {
        form {
            width: 80vw;
        }

        form .center label {
            width: 53vw;
        }

        form .center input {
            width: 53vw;
        }
    }

    @media only screen and (max-width: 400px) {
        #score-formulier {
            font-size: 8vw;
        }
    }

    /* Eind Scoreformulier */

/* Einde Score pagina */

/* Begin Contact/Locatie */

.contact .center {
    background-color: rgb(19, 19, 19);
    color: rgb(180, 148, 3);
    border-radius: 1rem;
    width: 50rem;
    margin: 0 auto;
    padding: 2.5rem 5rem;
    text-align: left;
}

.contact .center h1 {
    margin: 0 0 5rem 0;
    font-size: 3rem;
    margin: 0 1rem;
}

.contact .center h1 a {
    color: rgb(180, 148, 3);
    text-decoration: none;
}

.contact .center h1 a:hover {
    color: white;
}   

.contact .center h1 #contact {
    text-decoration: underline;
}

.contact .center h1 #locatie {
    text-decoration: underline;
}

.contact .center p {
    font-size: 1.3rem;
    color: white;
}

.contact .center ul {
    margin: 4rem 0;
}

.contact .center ul h3 {
    margin: 2rem 0 1rem 0;
}

.contact .center h2 {
    font-size: 1.6rem;
}

.contact .center ul li {
    margin: .5rem 0;
    color: white;
    font-size: 1.2rem;
}

.contact .center ul li a {
    color: white;
}

.contact .center #adres p {
    margin: .3rem 0;
    padding: 0;
}

.contact .center #margin {
    margin: 0 0 3rem 0;
}

.contact .flex {
    display: flex;
    margin: 0 0 5rem 0;
}

.contact .maps {
    width: 100%;
}

.contact iframe {
    width: 500px;
    height: 500px;
}

/* Eind Contact/Locatie */

/* Begin Over Ons pagina */

.ontstaan h1 {
    color: rgb(180, 148, 3);
    font-size: 3rem;
    text-align: left; 
    padding-left: 2.5rem;   
}

.ontstaan p{
    color: rgb(180, 148, 3);
    text-align: left;
    font-size: 1.5rem;
    margin-left: 3rem;
}

.lobby img{
    position: absolute;
    right: 0;
    top: 0;
   margin-top: 12rem;
   max-width: 900px;
   max-height: 380px;
   margin-right: 3rem;
}

.doel {
       color: rgb(180, 148, 3);
    text-align: left;
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: 6rem;
}

.doel img{
    max-height: 380px;
    max-width: 900px;
    margin-top: 3rem;
}

.team h1{
    position: absolute;
    right: 23rem;
   margin-top: 6rem;
}

.team p{
    position: absolute;
    right: 12rem;
   margin-top: 9rem; 
}

.team img{
    max-width: 900px;
    max-height: 380px;
    position: absolute;
    right: 3rem;
    top: 0;
    margin-top: 46rem;
}